/* --------------------------------------
=========================================
COLOR : BLUE 

MAIN COLOR CODE: #00b9f7

DEEP COLOR CODE: #1FA3FF
=========================================
----------------------------------------- */

:root {
	--main-color: #00b9f7;
	--main-color2: #00b9f752;
  }
  
