/* --------------------------------------
=========================================
COLOR : SLATE 

MAIN COLOR CODE: #6b798f

DEEP COLOR CODE: #5B677B
=========================================
----------------------------------------- */
:root {
	--main-color:  #6b798f;
	--main-color2: #6b798f52;
  }