/* start header */
nav .container,
.portfolio,
#about__content,
#contact,
.services,
.info_section,
#Created_by {
    direction: rtl;
    text-align: right;
}

#menuToggle:checked~#menuButton {
    left: 0;
}

.info_section .row .col-md-12 .info_links,
.info_section h4,
.info_contact_Address {
    text-align: right;
}

.info_links ul li::before {
    right: -15px;

}

.info_links ul li {
    margin-right: 15px;
}

.about__content {
    text-align: right;
}

.about__content .detail-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

@media (max-width: 992px) {
    .about__content .detail-box {
        margin-right: 0;
    }
}

.info_contact div i {

    margin-right: 0;
    margin-left: 12px;
}