/* --------------------------------------
=========================================
COLOR : BLUE MUNSELL 

MAIN COLOR CODE: #0196a7

DEEP COLOR CODE: #017B89
=========================================
----------------------------------------- */
:root {
	--main-color:  #0196a7;
	--main-color2:  #0196a752;
  }
  
