/* --------------------------------------
=========================================
COLOR : GREEN 

MAIN COLOR CODE: #00ab66

DEEP COLOR CODE: #028852
=========================================
----------------------------------------- */
:root {
	--main-color: #24d278;
	--main-color2: #24d27852;
  }