/* --------------------------------------
=========================================
COLOR : ORANGE 

MAIN COLOR CODE: #ea8825

DEEP COLOR CODE: #CD7113
=========================================
----------------------------------------- */
:root {
	--main-color:  #ea8825;
	--main-color2: #ea882552;
  }