/* --------------------------------------
=========================================
COLOR : PURPLE 

MAIN COLOR CODE: #8600c8

DEEP COLOR CODE: #7101A8
=========================================
----------------------------------------- */
:root {
	--main-color: #8600c8;
	--main-color2:  #8600c852;
  }