/* --------------------------------------
=========================================
COLOR : RAD 

MAIN COLOR CODE: #f25454

DEEP COLOR CODE: #D32929
=========================================
----------------------------------------- */
:root {
	--main-color: #f25454;
	--main-color2: #f2545452;
  }