/* --------------------------------------
=========================================
COLOR : YELLOW 

MAIN COLOR CODE: #e5c41a

DEEP COLOR CODE: #CAAB0E
=========================================
----------------------------------------- */
:root {
	--main-color: #e5c41a;
	--main-color2: #e5c41a52;
  }